<!--
  Author: Justin Clayton
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shows</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  <header class="bg-info">
    <h1>Semi-Restful TV Shows</h1>
  </header>
  <main class="container bg-light text-center">
    <h2>All Shows</h2>
    <table class="table table-hover table-striped">
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release Date</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for show in shows %}
        <tr>
          <td>{{ show.id }}</td>
          <td>{{ show.title }}</td>
          <td>{{ show.network }}</td>
          <td>{{ show.release_date }}</td>
          <td>
            <a class="btn btn-primary"
              href="{% url 'app:view_show' show_id=show.id%}">Show</a>
            <a class="btn btn-warning"
              href="{% url 'app:edit_show' show_id=show.id%}">Edit</a>
            <a class="btn btn-danger"
              href="{% url 'app:destroy_show' show_id=show.id%}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'app:new_show' %}" class="btn btn-success">
      Add a New Show
    </a>
  </main>
</body>
</html>
